.wrap {
    background-color: #F7F7F7;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}